.login-container[b-w1mn2zjrew] {
    background-color: #FFF8DC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
    max-width: 400px;
    margin: 50px auto;
}

.login-container h3[b-w1mn2zjrew] {
    color: #D2691E;
    text-align: center;
}

.login-container .form-group[b-w1mn2zjrew] {
    margin-bottom: 15px;
}

.login-container button[b-w1mn2zjrew] {
    background-color: #D2691E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
